<div class="header-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
                <div class="navigation">
                    <div id="navigation">
                        <ul>
                            <li class="active"><a href="{{ url_for('author_app.index')}}" title="Home">Home</a></li>
                            <li><a href="{{ url_for('author_app.surveyPlatform')}}" title="My service">Survey</a> </li>        
                            <li><a href="{{ url_for('author_app.contact')}}" title="Contact Us">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>